.bookmarked-content {
  height: max-content;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .bookmarked-movies {
    width: 100%;
    .movies-scenes {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    } 
  }

  .bookmarked-series {
    width: 100%;
    .series-scenes {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      overflow-x: scroll;
      
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  h3 {
    color: $text-clr;
    font-family: $title-font;
    padding: 2rem 0 0 1rem;
  }
}
