// colors
$bg: rgb(16, 20, 31);
$sidebar-bg: rgb(21, 29, 46);
$text-clr: rgba(255, 255, 255, 0.97);
$text-clr-fade: rgba(255, 255, 255, 0.872);

// fonts
$title-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

// responsive
$xs: 'screen and (max-width: 575px)';
$sm: 'screen and (max-width: 767px)';
$md: 'screen and (max-width: 991px)';
$lg: 'screen and (max-width: 1200px)';
